<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="/media/js/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/media/js/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/media/js/demo.css">
<script type="text/javascript" src="/media/js/jquery-2.2.3.js"></script>
<script type="text/javascript" src="/media/js/highcharts.js"></script>
<script type="text/javascript" src="/media/js/echarts.js"></script>
<script type="text/javascript" src="/media/js/jquery.easyui.min.js"></script>
</head>
<body style="text-align: center;">
	<div id="page_all" align="center"
		style="border: 1px; width: 1200px; margin: 0px auto;">
		<div id="page_nag"
			style="width: 80%; margin-top: 40px; background-color:; border: 1px"
			align="center">
			<iframe src="/vote/loadPageHeader/" frameborder="0" scrolling="no"
				width="100%" height="50px"></iframe>
		</div>

		<div id="events" style="width: 80%; margin-top: 50px">
			<table width="100%" border="1" style="padding: 10px; margin: 1px">
				<tr background="" align="left">
					<td colspan="4">投票事件</td>
				</tr>
				{% for item in event_list %}
				<tr align="left">
					<td colspan="4"><a
						href="/vote/readEvent/?eventId={{ item.event_id }}">
							{{ item.event_discribe }}</a></td>
				</tr>
				{% endfor %}
			</table>
			<div id="tb" style="width: 100%;"></div>
		</div>

		<div style="width: 80%; margin-top: 10px; background-color:;"
			align="center">
			<table border="0">
				<tr>
					<td>第{{page_no}} 页</td>
					<td><a href="#">下一页</a></td>
					<td><a href="#">上一页</a></td>
					<td>总共{{page_total}}页</td>
				</tr>
				</div>
				</div>
				<div id="chartDiv"
					style="width: 600px; height: 300px; background-color:"></div>
				<div id="main"
					style="width: 600px; height: 300px; background-color:"></div>
				
</body>

</html>
<script type="text/javascript">
	var resultData = [];
	$(document).ready(function() {
		loadData();
		initGrid();
	});
	function initGrid() {
		$('#tb').datagrid({
			columns : [ [ {
				field : 'code',
				title : 'Code',
				width : 100
			}, {
				field : 'name',
				title : 'Name',
				width : 100
			}, {
				field : 'price',
				title : 'Price',
				width : 100,
				align : 'right'
			} ] ],
			toolbar : [ {
				iconCls : 'icon-edit',
				handler : function() {
					alert('edit')
				}
			}, '-', {
				iconCls : 'icon-help',
				handler : function() {
					alert('help')
				}
			} ]
		});
	}

	function loadData() {

		$.ajax({
			type : 'get',
			url : "/vote/queryVoteResult/",
			data : {
				"eventId" : 3
			},
			success : function(json) {
				var total = 0;
				//投票总数
				$.each(json, function(i, r) {
					total += r.fields.count;
				});
				var result = [];
				var index = 0;
				$.each(json, function(i, r) {
					result[index] = r.fields.count / total;
					resultData[index] = {
						name : r.fields.choice_detail,
						value : r.fields.count / total * 100
					}
					index++
				});
				initchart(resultData);
			},
			dataType : "json"
		});
	}

	function initchart(jsonData) {
		var myChart = echarts.init(document.getElementById('main'));
		var legendData = [];
		$.each(jsonData, function(i, r) {
			legendData[i] = r.name;
		});
		option = {
			tooltip : {
				trigger : 'item',
				formatter : "{a} <br/>{b}: {c} ({d}%)"
			},
			legend : {
				orient : 'vertical',
				x : 'left',
				data : legendData
			},
			series : [ {
				name : '选项',
				type : 'pie',
				radius : [ '50%', '70%' ],
				avoidLabelOverlap : false,
				label : {
					normal : {
						show : false,
						position : 'center'
					},
					emphasis : {
						show : true,
						textStyle : {
							fontSize : '30',
							fontWeight : 'bold'
						}
					}
				},
				labelLine : {
					normal : {
						show : false
					}
				},
				data : jsonData
			} ]
		};
		myChart.setOption(option);
	}
</script>